
<div class="login-container">
    <form class="login" >

        <fieldset>
            <h2>Sign in</h2>
            <span>Username:</span>
            <p class="login-p"> 
                <input class="login-username" 
                type="text" 
                
                placeholder="Username" 
                #userName
                required>
            </p>
           
            <span>Password:</span>
            <p class="login-p">
                
                <input 
                type="password" 
                
                placeholder="******"
                #userPassword
                required
                >
            </p>
         

            <button class="login-button" 
            type="button"
            value="Login"
            (click)="authService.SignIn(userName.value, userPassword.value)"
            >Login</button>
            
            <p class="login-text">
                Dont have an account?
                <a routerLink="/register">Register</a>
            </p>

        </fieldset>
    </form>
</div>