
<div class="login-container">
    <form class="login" >

        <fieldset>
            <h2>Sign in</h2>
            <span>Email:</span>
            <p class="login-p"> 
                <input class="input-error" 
                type="email" 
                name="email" 
                id="email" 
                placeholder="email@gmail.com" #inputEmail>
            </p>
           
            <span>Password:</span>
            <p class="login-p">
                
                <input type="password" 
                name="password" 
                id="password" 
                placeholder="******"
                #inputPassword
                >
            </p>
         

            <button class="login-button" >Login</button>
            
            <p class="login-text">
                Dont have an account?
                <a routerLink="/register">Register</a>
            </p>

        </fieldset>
    </form>
</div>