
<div class="register-container">
    <form class="register" >

        <fieldset>
            <h2>Sign up</h2>
            <span>Username</span>
            <div class="formGroup">
            <p class="register-p"> 
                <input class="formControl"  
                type="text" 
                
                placeholder="email@gmail.com" 
                #userName
                required>
                
            </p>
        </div>
        <span>Email: </span>
        <div class="formGroup">
            <p class="register-p"> 
                <input class="formControl" 
                type="email" 
                placeholder="email@gmail.com" 
                #userEmail
                required
                >
            </p>
            </div>
        
            <span>Password:</span>
            <div class="formGroup">
            <p class="register-p">
                
                <input 
                class="formControl" 
                type="password" 
                
                placeholder="******"
                #userPassword
                required
                >
            </p>
        </div>
        <span>Repeat password:</span>
        <div class="formGroup">
            <p class="register-p">
                
                <input 
                class="formControl" 
                type="password" 
               
                placeholder="******"
                
                required
                >
            </p>
        </div>
         

            <button 
            class="register-button" 
            type="button"
            value="Sign Up"
            (click)="authService.SignUp(userEmail.value, userPassword.value)"
            
            >Register</button>
            
            <p class="register-text">
                Already have an account?
                <a routerLink="/login">Login.</a>
            </p>

        </fieldset>
    </form>
</div>