
<div class="register-container">
    <form class="register" >

        <fieldset>
            <h2>Sign up</h2>
            <span>Username</span>
            <p class="register-p"> 
                <input class="input-error" 
                type="email" 
                name="email" 
                id="email" 
                placeholder="email@gmail.com" #inputEmail>
            </p>
            <span>Email:</span>
            <p class="register-p"> 
                <input class="input-error" 
                type="email" 
                name="email" 
                id="email" 
                placeholder="email@gmail.com" #inputEmail>
            </p>
           
            <span>Password:</span>
            <p class="register-p">
                
                <input type="password" 
                name="password" 
                id="password" 
                placeholder="******"
                #inputPassword
                >
            </p>
            <span>Repeat password:</span>
            <p class="register-p">
                
                <input type="password" 
                name="password" 
                id="password" 
                placeholder="******"
                #inputPassword
                >
            </p>
         

            <button class="register-button" >Register</button>
            
            <p class="register-text">
                Already have an account?
                <a routerLink="/login">Login.</a>
            </p>

        </fieldset>
    </form>
</div>