<div class="container">
    <div class="logo">
        <p>WOW</p>
    </div>
    <div class="start">
        <a>Start</a>
    </div>
    <div class="navbar">
        <ul class="nav" *ngIf="authService.isLoggedIn">
          
            <li routerLink="/">Home</li>
            <li>Create</li>
            <li (click)="authService.SignOut()">Logout</li>
        </ul>
        <ul class="nav" *ngIf="!authService.isLoggedIn">
            <li routerLink="/">Home</li>
        <li routerLink="/login">Login</li>
        <li routerLink="/register">Register</li>
    </ul>
    </div>
</div>