.logo {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.logo p {
  font-size: 22px;
}
.start {
  display: flex;
  align-items: center;
}
.start a {
  font-size: 20px;
  font-style: none;
}
.navbar {
  display: flex;
  align-items: center;
}
p {
  font-size: 30px;
}
ul {
  display: flex;

  margin: 1rem;
}
li {
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 18px;
  list-style-type: none;
}
li:hover {
  color: red;
  cursor: pointer;
}
