<main>
  <div class="home-container">
    <section class="introduction">
      <h1>Welcome to Angular Victorina</h1>
      <p>Create your own and try out other people trivia victorinas</p>
    </section>

    <section class="explanation">
      <div class="image-container">
        <img src="../../assets/256x256.png" />
        <img src="../../assets/history_422194.png" />
        <img src="../../assets/science.png" />
        <img src="../../assets/clapper.png" />
      </div>
      <p>
        You can create a trivia on any topic you like or try out others people
        interesting or topical questions
      </p>
      <p>
        Get started by browsing our collection of quizzes, or signing up to play
        the quizzes and try out how much right answers you can get.
      </p>

      <button routerLink="/browse">Start</button>
    </section>
  </div>
</main>
