main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.home-container {
  padding: 4rem;
  background: rgb(227, 221, 164);
  background: linear-gradient(
    90deg,
    rgba(227, 221, 164, 1) 5%,
    rgba(224, 232, 119, 1) 40%,
    rgba(224, 232, 119, 1) 60%,
    rgba(227, 221, 164, 1) 95%
  );
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
}

.introduction h1 {
  font-size: 36px;
}
.explanation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.explanation p {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.image-container {
  display: flex;
  text-align: center;
  margin: 1rem;
  justify-content: center;
}
img {
  max-height: 200px;
  margin: 0.5rem;
}
button {
  width: 60%;
  height: auto;
  border-radius: 90px;
  border: none;
  background-color: rgb(207, 110, 245);
  color: black;
  font-size: 28px;
  padding: 1.5rem;
  margin: 1rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
button:hover {
  cursor: pointer;
  background-color: rgb(141, 68, 236);
}
